/* CSS para posicionar a div de filtro do lado direito da tela */
.filter-overlay {
    position: fixed; /* Fixa a posição da div na tela */
    top: 0;
    right: 0; /* Posiciona a div no lado direito da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    width: 30%; /* Ocupa 30% da largura da tela */
    background-color: white; /* Fundo branco */
    border-left: 1px solid #ccc; /* Borda esquerda para separar da tabela */
    z-index: 1000; /* Garante que a div apareça sobre outros elementos */
    display: none; /* Inicialmente oculta */
    padding: 10px; /* Adiciona algum padding interno */
}

/* Classe adicionada quando a div está visível */
.filter-active {
    display: block;
}

.container {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
}

.datatable-container {
    flex: 1; /* Ocupa o restante da largura da tela */
    position: relative;
}

.filter-button {
    position: absolute;
    top: 10px;
    right: 10px; /* Posiciona o botão no canto superior direito */
    z-index: 1100; /* Garante que o botão de filtro esteja acima da div */
    cursor: pointer;
}
