.filter-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
    background-color: white;
    border-left: 1px solid #ccc;
    z-index: 1000;
    display: none;
    padding: 10px;
}

.filter-active {
    display: block;
}

.container {
    display: flex;
    height: 100%;
    position: relative;
}

.datatable-container {
    flex: 1;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F3F3F3;
}

.icon-text-container {
    display: flex;
    align-items: flex-end;
}

.titulo-relatorio {
    margin-top: auto;
    padding-left: 10px;
}

.total-records {
    padding: 10px;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    background-color: white;
}

.filter-content {
    font-size: large;
    font-weight: 500;
    color: #747474;
}

.fixed-filter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #DDDBDA;
    cursor: pointer;
    padding-bottom: 10px;
}

.filter-button {
    margin-top: 15px;
    cursor: pointer;
}

.filters {
    border: 1px solid #DDDBDA;
    padding: 20px;
    margin-top: 30px;
}

.filterList {
    cursor: pointer;
}

.modal-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.modal-filter {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 80%;
    max-width: 370px;
    min-height: 200px;
    border: 1px solid #DDDBDA;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.cancel-button {
    margin-right: 5px;
}


/* sfdx force:source:deploy -p force-app/main/default/lwc/gR9_BaseRelatorio */

